#deNav {
	background:#fff;
}
body{
	background-color:#E9E9E9;
}
.navbar{
	margin-bottom: 0px;
	border:none;
	height:75px;



}
.btn-group{
	margin-top:10px;
}
.group02{
	float:right;
	
}

.card-img-top{
/*  width: 150px;*/
    max-width: 100%;
}
.navbar-header{
	float:none;
}

#map{
	width:100%;
	height:100%;
	position:absolute;
	z-index: 0;
}

.glyphicon-search{
	z-index: 3;
}

.mapDiv{
	position:relative;
	height:250px;
}
.jumbotron {
	color: #ffcc99;
	height: 450px;
  background-image:url('../images/bg-daytrip.jpg');
  background-size: cover;
  background: contain;
  z-index: 0;
    
}
.eventContainer{
	margin-top:30px;
}
.header {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: left;
	margin-left: 30px;
	color: #ffcc99;
}

#imaginary_container{
    margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.footer
{
	font-family: 'Arial';
	color: #fff;
	background: #378037;
	padding: 1em 1.25em;
	text-align:center;
	height:70px;
	border-top: thick solid  #4aaaa5
}